
<div id="div2">
        <div id="header">
        	<a class="logo" href="index.html" title="Inicio" >
          <img src="https://www.everis.com/sites/all/themes/everis/logo.png" alt="Inicio" width="130px">
        </a>
   
			<ul class="nav">
				<li><a href="index.html">Inicio</a></li>
				<li><a href="">Servicios</a>
					<ul>

						<li><a href="">Gestion de Empleados</a>
							<ul>
								<li><a href="FormularioIngresoNuevoAlumno.html">Ingresar Empleado</a></li>
								<li><a href="listado.html">Listar Empleado</a></li>
								
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="">Acerca de</a>
					<ul>
						<li><a href="acercade.html">About us</a></li>
						
						
					</ul>
				</li>
				<li><a href="">Contacto</a></li>
			</ul>
		</div>
         
         </div>
